<!DOCTYPE html> 
<html lang="en">
<html>
    <head>
      <title> ecoupon </title>
      <link rel="stylesheet" href="style.css">
      <a href="index.html">Go to Home</a>
    </head>

    <body>
        
        <p><h1> * OVNI MALL SALE *</h1></p>
        </div>
        </body>
          <p> Every day values | Celebrate with savings | Sunny essentials 
            <br> 20% OFF CLEARANCE 
            <br> PROMO COUPON </p>
            </div>

      
          <img src="offer.png" alt=" This is the Ovni Mall Promo Coupon" class="center" width="200" height="200">

        </div>

        <footer>
          <p class="copyright">Bellina Dustin © Coding Dojo 2021</p>
        </footer>
          
    </body>
</html>
