<!DOCTYPE html "en">
<html>
<head>  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ovni Mall Restaurant</title>
    <link href="index.html" rel="stylesheet" type="style/css"  />
    <link href="twoColFixLtHdr.css" rel="stylesheet" type="text/css" />
    <a href="/">Go to Home</a>
    

 

</head>
<body>

      <div class="bg"></div>

      <div align="center" >
        <p><h1>Ovni Mall Restaurant</h1></p>
      </div>


      <div>
            <img src="{% static 'images/restaurant.jpg' %}" width="100" height="100" align="left"></div>
      </div>
      
      <div align="center">
          <p><h1>Menu</h1></p>

              <table>
              <img src="{% static 'images/chicken-tacos.jpg' %}" alt="Chicken tacos" style="width:20%">
              <img src="{% static 'images/suizas.jpg' %}" alt="Enchiladas Suizas" style="width:20%">
              <img src="{% static 'images/tamales.jpg' %}" alt="Tamales" style="width:20%">
              <img src="{% static 'images/elotes.jpg' %}" alt="Elotes" style="width:20%">
              <img src="{% static 'images/torta.jpg' %}" alt="Pozole" style="width:20%">
                
                </table>
          <p><h3> SPECIAL OF THE WEEK</h3> </p>
          <h2> * Tres Leches Chocolate Moon and Stars Cake * </h2>
          <p> <img src="{% static 'images/Moon and stars cake.jpg' %}" style="width:20%">       
      </div>
        

      <div align="left">
          <div align="justify" class="header"></div>
          <ul class="nav">
            <li><a href="# Store #1">Store 1</a></li>
            <li><a href="# Srore #2">Store 2</a></li>
            <li><a href="# Restaurant">Ovni Mall</a></li>
            <li><a href="# Go back to Home Page">Go back to Mall Page</a></li>
            </ul>
        </div>
      </div>
      <div class="footer"></div>
        <div class="footer">
          <p align="center" class="footer"> 2000 Wonderland Rd </p>
          <p align="center"> Houston TX ZIP 0000-1111</p>
        </div>
        <p> Hours | Mon Fri 8:00am-10:00pm 
            <br>    Sat  8:00am-5:00pm
            <br>    Sundays- closed 

            <p class="copyright">Bellina Dustin © Coding Dojo 2021</p>

      

        
      </body>
      </html>














